# Vivado project folders
soc_design/
#soc_design/SoC_Design.cache/
#soc_design/SoC_Design.sim/
#soc_design/*.runs/
#soc_design/*.hw/
#soc_design/*.ip_user_files/
#soc_design/*.gen/
#soc_design/*.Xil/

## Vivado logs
#soc_design/*.log
#soc_design/*.jou
#soc_design/*.str
#soc_design/*.pb

## Simulation / xsim
#*.wdb
#*.wcfg
#*.sdb
#*.dbg
#*.mem
#*.reloc
#*.rlx
#*.rtti
#*.xdbg

# Build
*.obj
*.exe
*.dll

# Backup
*.backup.*
*.bak
*~

# Office temp
~$*

# design
design/**/*.mem
design/**/*.txt
design/top.sv
design/peripheral/

# for_ubuntu
for_ubuntu/**/obj/

# tb
tb/tb_TOP.sv
tb/**/*.txt
tb/**/*.mem
obj/

# verification
verification/**/__pycache__/
verification/waveformVerifier/memFile/
verification/waveformVerifier/tests/

# Linking Folder
SOC설계및실습(청강).lnk
컴퓨터구조론교안.lnk
