# Vivado project folders
SoC_Design/SoC_Design.cache/
SoC_Design/SoC_Design.sim/
SoC_Design/*.runs/
SoC_Design/*.hw/
SoC_Design/*.ip_user_files/
SoC_Design/*.gen/
SoC_Design/*.Xil/

# Vivado logs
SoC_Design/*.log
SoC_Design/*.jou
SoC_Design/*.str
SoC_Design/*.pb

# Simulation / xsim
*.wdb
*.wcfg
*.sdb
*.dbg
*.mem
*.reloc
*.rlx
*.rtti
*.xdbg

# Build
*.obj
*.exe
*.dll

# Backup
*.backup.*
*.bak
*~

# Office temp
~$*

# TEST_CASE
SIM/TEST_CASE/convert.o
SIM/TEST_CASE/main.o
SIM/TEST_CASE/main.exe
SIM/TEST_CASE/test_case_x.txt

# Linking Folder
컴퓨터구조론교안.lnk
