# .\<root>
vivado.jou
vivado.log

# .\<root>\design
design/**/*.mem
design/**/*.txt
design/top.sv
design/peripheral/cmu/
design/peripheral/cpu_cmu_arbiter/
design/peripheral/ahb_ctrl.sv
design/peripheral/sfr_table.svh

# .\<root>\for_ubuntu
for_ubuntu/**/objMips/
for_ubuntu/**/objWin64/
for_ubuntu/C/**/buildWin64.bat

# .\<root>\soc_design
soc_design/

# .\<root>\systemC
systemC/

# tb
tb/**/*.txt
tb/**/*.mem
tb/old/
tb/for_debug/**/textFile/
tb/for_debug/**/memFile/
tb/for_debug/**/obj/

# verification
verification/**/__pycache__/
verification/waveformVerifier/memFile/
verification/waveformVerifier/tests/

# Linking Folder
SOC설계및실습(청강).lnk
컴퓨터구조론교안.lnk
